#abilities_container{
    display: flex;
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 0;
}
#abilities::before{
    display: flex;
    position: fixed;
    z-index: 1;
    width:100vw;
    height: 40vh;
    bottom: auto;
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.9) 70%,rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.9) 70%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.9) 70%,rgba(0,0,0,0) 100%);
    content: "";
}
#abilities::after{
    display: flex;
    position: fixed;
    z-index: 1;
    width:100vw;
    height: 40vh;
    top: 60vh;
    background: -moz-linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.9) 70%,rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.9) 70%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.9) 70%,rgba(0,0,0,0) 100%);
    content: "";
}
#abilities{
    position: absolute;
    text-align: center;
    width: 100vw;
}
.abilitie{
    font-size: 2.3em;
    list-style-type: none;
    margin: 2em auto;
    opacity: 1;
    position: relative;
    transform: translateY(30vh);
    width: 100%;
}
.abilitie:last-child::after{
    height: 50vh;
    display: block;
    content: "";
}
@media screen and (max-width:1200px){
    .abilitie{
        font-size:1.5em;
    }
    .abilitie:last-child::after{
    height: 70vh;
    display: block;
    content: "";
}
}
@media screen and (max-width:920px){
    .abilitie{
        font-size:0.6em;
    }
    .abilitie:first-child::before{
    height: 20vh;
    display: block;
    content: "";
}
    .abilitie:last-child::after{
    height: 70vh;
    display: block;
    content: "";
}
}