#abilities_container{
    display: flex;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
}
#abilities{
    margin:5em auto;
    position: relative;
    text-align: center;
    width:80%;
}
.abilitie{
    font-size: 2.3em;
    list-style-type: none;
    margin: 2em auto;
    opacity: 0;
    position: absolute;
    transform: translateY(400px);
    width: 100%;
}
.abilitie:nth-child(1){
    transform: translateY(0);
    opacity:1;

}.abilitie:nth-child(2){
    transform: translateY(60px);    
    opacity:.3;

}.abilitie:nth-child(3){
    transform: translateY(120px);
    opacity:.1;
}