.hdqhPL{
    display: none !important;
}
.lfnIny{
    display: none !important;
}
.dMFuoo{
    max-width: 80% !important;
    overflow: hidden !important;
    max-height: 100% !important;
}
.blCJWW{
    max-width: 100% !important;
}