.hdqhPL{
    display: none !important;
}
.lfnIny{
    display: none !important;
}
.dMFuoo{
    max-width: 80% !important;
    overflow: hidden !important;
    max-height: 100% !important;
}
.blCJWW{
    max-width: 100% !important;
}
@media screen and (max-width:920px){
    .dMFuoo{
        max-width: 100vw !important;
    }
    .sc-gzVnrw, .gvTZSO,.iQSzyY{
        font-size: 17px;
    }
    .gAcuTz{
        padding: 5px 1.1em 0 0;
    }
}