.profile_picture{
    animation: appear .5s linear .5s both;
    height: 35vh;
    margin-top: 10vh;
    width: 35vh;
}
.name{ animation: slideup 1s linear 1.5s both; }
.surname{ animation: slideup 1s linear 2s both; }
.age{ animation: slideup 1s linear 2.5s both; }
.city{ animation: slideup 1s linear 3s both; }

@keyframes appear{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}

@keyframes slideup{
    from{
        transform: translateY(500px)
    }
    to{
        transform: translateY(0)
    }
}

@media screen and (orientation:portrait){
    #about_content{ font-size: .5em;}
    #about_header{ font-size: 1.2em;}
    .profile_picture{
        height: 30vh;
        margin: 2.5vh;
        width:30vh;
    }
    .name, .surname, .age, .city{ animation: none;}
    #personal_data{
        animation: 20s slideleft linear 1s both infinite;
        width:200vw;
    }
    @keyframes slideleft{
        from{
            transform: translateX(100vw);
        }
        to{
            transform: translateX(-200vw);
        }
    }
}
