#menu{
    display: flex;
    flex-direction: column;
    height: 65%;
    position: absolute;
    right: 5vw;
    top:15%;
    z-index: 2;
}
#menu ul{
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style: none;
}
.menu-li{
    border: 1px solid;
    border-radius: 50%;
    height: .5rem;
    margin: auto 0 0 auto;
    width: .5rem;
    cursor: pointer;
}
#menu_text{
    display: flex;
    flex-direction: column;
    height: 65%;
    position:absolute;
    right:7vw;
    text-align: right;
    top:15%;
    z-index: 2;
}
.menu_text_li{
    display: block;
    font-size:0.4rem;
    height: .5rem;
    margin: auto 0 0 auto;
    cursor: pointer;
    list-style: none;
}