#menu{
    height: 65%;
    right: 5vw;
    top:15%;
    z-index: 2;
}
#menu ul{
    height: 100%;
    min-width: 50px;
}
.menu-li{
    border: 1px solid;
    height: .9rem;
    width: .9rem;
}
#menu_text{
    height: 65%;
    right:7vw;
    top:15%;
    z-index: 2;
}
.menu_text_li{
    height: 1rem;
}
@media screen and (orientation:portrait){
    #menu{
        right: 2vw;
    }
}
.active_green{
    background-color: #28ff00;
}
.active_gray{
    background-color: #4d4d4d;
}
.active_white{
    background-color: #fff;
}