.education{
    margin: 1em auto auto 2em;
    line-height: 1em;
    width: 85vw;
    height: 100vh;
}
.school{
    margin: 35vh auto 0 auto;
    opacity: 1;
    position: absolute;
    transform: translateY(100vh);
}
.school:first-child{
    opacity: 1;
    transform: translateY(0);
}
.school:nth-child(2){
    opacity: 1;
    transform: translateY(45vh);
}

@media screen and (max-width:768px){
    .schoolname, .date, .description{
        font-size: 20px;
    }
}