.education{
    margin: 1em auto auto 2em;
    line-height: 1em;
    width: 85vw;
    height: 100vh;
}
.school{
    margin: 35vh auto 0 auto;
    opacity: 1;
    position: absolute;
    transform: translateY(100vh);
    max-width: 80vw;
}
.school:first-child{
    opacity: 1;
    transform: translateY(0);
}
.school:nth-child(2){
    opacity: 1;
    transform: translateY(45vh);
}
.schoolname{
    font-size: 1.2em;
    
}
.date{
    font-weight: 100;
    font-size:1em;
}
.description{
    font-weight: 100;
    font-size: .8em;
}

@media screen and (max-width:970px){
    .school{
        font-size: 20px;
    }
}
@media screen and (max-width:920px){
    .education{
        margin: 0 0 0 1vw;
    }
}