#values{
    display: none;
}
.cell{
    font-size: 3rem;
}
.content{
    display: flex;
}
.socials{
    display: inline-flex;
    flex-direction: row;
    height: 4rem;
    margin:auto;
    position: relative;
    width: 90vw;
}
.contacts{
    display: inline-block;
    height: 4rem;
    margin:auto;
    position: relative;
}
.contact{
    color: #28ff00;
    font-size: 4em;
    list-style: none;
    opacity: 0;
    text-align: center;
    text-transform: uppercase;
    z-index: 0;
}
.contact:first-child{
    opacity: 1;
    z-index:1;
}
.previous{
    animation: blink .6s both infinite;
    content: "<";
    cursor: pointer;
    font-size: 4rem;
    margin: auto;
}
.next{
    animation: blink .6s both infinite;
    content: ">";
    cursor: pointer;
    font-size: 4rem;
    margin: auto;
}
.contact a{
    color: #28ff00;
    display: inline-block;
    font-size: 2.5rem;
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}