#values{
    display: none;
}
.cell{
    font-size: 3rem;
    display: inline-block;
    width: 2rem;
}
.content{
    display: flex;
}
.socials{
    display: inline-flex;
    flex-direction: row;
    height: 4rem;
    margin:auto;
    position: relative;
    width: 90vw;
}
.contacts{
    display: inline-block;
    height: 4em;
    margin:auto;
    position: relative;
}
.contact{
    color: #28ff00;
    font-size: 4em;
    list-style: none;
    opacity: 0;
    text-align: center;
    text-transform: uppercase;
    z-index: 0;
}
.contact:first-child{
    opacity: 1;
    z-index:1;
}
.previous{
    animation: blink .5s both infinite;
    content: "<";
    cursor: pointer;
    font-size: 4em;
    margin: auto;
}
.next{
    animation: blink .5s .3s both infinite;
    content: ">";
    cursor: pointer;
    font-size: 4em;
    margin: auto;
}
.contact a{
    color: #28ff00;
    display: inline-block;
    font-size: 1em;
    height: 1em;
    margin-top: .1em;
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@media screen and (max-width:920px){
    .contacts{
        height: auto;
    }
    .contact{
        font-size: 25px;
    }
    .cell{
        width: 25px;
        height: 25px;
        font-size: 25px;
    }
    .previous{
        font-size: 25px;
    }
    .next{
        font-size: 25px;
    }
    .socials{
        width: 80vw;
        margin: auto auto auto 5vw;
    }
}
