#values{
    display: none;
}
.cell{
    font-size: 6rem;
    width: 4rem;
}
.socials{
    display: inline-flex;
    flex-direction: row;
    height: 90vh;
    margin:auto;
    position: relative;
    width: 80vw;
}
.contacts{
    display: inline-block;
    height: 8em;
    margin:auto;
    position: relative;
}
.contact{
    font-size: 8em;
    list-style: none;
    opacity: 0;
    text-align: center;
    text-transform: uppercase;
    z-index: 0;
}
.contact:first-child{
    opacity: 1;
    z-index:1;
}
.previous{
    content: "<";
    cursor: pointer;
    font-size: 4em;
    margin: auto;
}
.next{
    content: ">";
    cursor: pointer;
    font-size: 4em;
    margin: auto;
}
.contact a{
    color: inherit;
    display: inline-block;
    font-size: 1em;
    height: 1em;
    margin-top: .1em;
}
.contact a:hover{
    color:#28ff00;
}
.copy{
    cursor:pointer;
    position: absolute;
    bottom: 20vh;
    left: 10vw;
}
.textarea{
   opacity:0;
    width:1;
    margin:0;
    padding:0;
    height:1;  
}
@media screen and (max-width:1200px){
    .contacts{
        height: 2rem;
        position: absolute;
        top:40vh;
    }
    .contact{
        font-size: 25px;
    }
    .cell{
        width: 25px;
        height: 25px;
        font-size: 25px;
    }
    .previous,.next{
        bottom: 6em;
        display: block;
        font-size: 25px;
        position: absolute;
    }
    .next{
        right: 25vw;
    }
    .copy{
        font-size: 20px;
        bottom: 35vh;
        left:2rem;
    }
    .socials{
        width: 80vw;
    }
}
