* {
    border: 0;
    font-family: "Consolas", "Courier New";
    font-size: 30px;
    line-height: 1em;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
    overflow: hidden;
    
}


/*********** Basic elements ************/
.content{
    background-color: #fff;
    height: 100vh;
    margin: 0;
    padding: 0;
    position:absolute;
    width: 100%;
    z-index: 1;
}
.background_black{
    background: #000;
}
.backgroud_white{
    background: #fff;
}
.default_color{
    background-color: #4d4d4d;
    border-color: #4d4d4d;
    color: #4d4d4d;
}
.green_color{
    background-color: #28ff00;
    border-color: #28ff00;
    color: #28ff00;
}
.white_color{
    background-color: #fff;
    border-color: #fff;
    color: #fff;
}
.hide{
    display: none !important;
}

/********* Header ***********/


/********* Menu *************/

/********** Home *************/
#about{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    width: 100%;
}
.profile_picture{
    border-radius: 50%;
    height: 8em;
    margin:5% auto auto auto;
    width: 8em;
}
#hello_world{
    font-weight: lighter;
    height: 50%;
    left: 17%;
    position: absolute;
    top:50%;
    width: 65%;
}
#hello_world h1{
    font-weight: lighter;
    text-align: center;
}
#hello_world p{
    font-size: 0.6em;
    font-family: "Consolas" !important;
    font-weight: lighter;
}
#personal_data{
    height: 5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}
#personal_data p{
    margin: 0 auto;
    font-size: 0.5em;
}
#personal_data b{
    margin: 0 auto;
    font-size: 1em;
}