:root,* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    border: 0;
    box-sizing: border-box;
    font-family: "Consolas", "Courier New";
    font-size: 30px;
    line-height: 1em;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
    overflow: hidden;
    
}
.content{
    height: 100vh;
    margin: 0;
    padding: 0;
    position:absolute;
    width: 100%;
    z-index: 1;
}
.loadercontainer{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
}
.loader {
  animation: spin 2s linear infinite;
  border: 1vh solid transparent;
  border-radius: 50%;
  border-top: 1vh solid #28ff00;
  height: 20vh;
  margin: auto;
  width: 20vh;
  -webkit-animation: spin 2s linear infinite; /* Safari */
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}