:root,* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    border: 0;
    box-sizing: border-box;
    font-family: "Consolas", "Courier New";
    font-size: 30px;
    line-height: 1em;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
    overflow: hidden;
    
}


/*********** Basic elements ************/
.content{
    height: 100vh;
    margin: 0;
    padding: 0;
    position:absolute;
    width: 100%;
    z-index: 1;
}
.background_black{
    background: #000;
}
.backgroud_white{
    background: #fff;
}
.default_color{
    background-color: #4d4d4d;
    border-color: #4d4d4d;
    color: #4d4d4d;
}
.green_color{
    background-color: #28ff00;
    border-color: #28ff00;
    color: #28ff00;
}
.white_color{
    background-color: #fff;
    border-color: #fff;
    color: #fff;
}
.hide{
    display: none !important;
}

/********* Header ***********/


/********* Menu *************/

/********** Home *************/
